.review-booking {
  display: flex;
  justify-content: start;
  gap: 100px;
}

@media (max-width: 582px) {
    .review-booking {
      flex-direction: column;
      .booking-form {
        position: sticky;
        bottom: 0;
      }
    }
    footer {
      display: none;
    }
  }
