a {
  color: rgb(53, 53, 53);
  text-decoration: none;
  &:visited {
    color: var(--w);
  }
}
.search {
  display: flex;
  justify-content: space-between;
  .search-form {
    input#search {
      width: 240px;
    }
  }
}
.filters {
  position: relative;
  display: flex;
  max-width: fit-content;
  .filter-box{
    cursor: pointer;
    border-radius: var(--br2);
    background-color: var(--w);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40px;
    right: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    z-index: 10;
    a {
      color: var(--gr);
      font-weight: bold;
      display: inline-block;
      padding: 16px;
      width: 180px;
      font-size: 14px;
      transition: .2s ease-in-out;
      &:first-child {
        border-radius: var(--br2) var(--br2) 0 0;
      }
      &:last-child {
        border-radius: 0 0 var(--br2) var(--br2);
      }
      &:not(:last-of-type) {
        border-bottom: solid 1px var(--lg1);
      }
      &:hover {
        background-color: var(--gr);
        color: var(--w);
      }
    }
    &.hidden {
      display: none;
    }
  }


}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
