a {
  color: rgb(53, 53, 53);
  text-decoration: none;
  &:visited {
    color: rgb(80, 80, 80);
  }
}
.filters {
  position: relative;
  p:not(:last-of-type){
    margin-right: 16px;
  }
  display: flex;
  .hidden {
    display: none;
  }
  .condition, .price {
    position: absolute;
    background-color: var(--gr);
    padding: 8px 12px;
    top: 16px;
    left: 0;
    z-index: 10;
    a {
      color: var(--w);
    }
  }
}
