a {
  color: rgb(53, 53, 53);
  text-decoration: none;
  &:visited {
    color: rgb(80, 80, 80);
  }
}
.filters {
  position: relative;
  p {
    cursor: pointer;
    border: solid 1px var(--gr);
    border-radius: var(--br2);
    background-color: var(--w);
    padding: 8px 12px;
    &:not(:last-of-type){
      margin-right: 16px;
    }
  }
  display: flex;
  .hidden {
    display: none;
  }
  .condition, .price {
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 10;
    a {
      color: var(--gr);
      font-weight: bold;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
