<div class="card">
  <img src="img" alt="camera">
  <div class="info">
    <h4><%= camera.model %></h4>
    <p><%= camera.year %></p>
    <p><%= camera.condition %></p>
    <p><%= camera.price %></p>
  </div>
</div>
