<footer>
  <ul>
    <% if user_signed_in? %>
      <li>Welcome, <%= current_user.name %></li>
    <% end %>
      <li><a href="#">Dark Mode</a></li>
      <li><a href="#">English</a></li>
  </ul>
</footer>
