
<div class="reviews">
  <h2>Reviews</h2>
<div class="reviews-box">
  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="info">
          <h3><%= review.user.name if review.user.present? %></h3>
          <p><%= render_stars(review.rating) if review.user.present? %></p>
        </div>
        <div class="comment">
          <%= review.comment if review.user.present? %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No reviews yet.</p>
  <% end %>
</div>
</div>
