
<div class="reviews">
  <h2>Reviews</h2>
  <div class="reviews-box">
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="info">
          <h3><%= review.user.name %></h3>
          <p><%= render_stars(review.rating) %></p>
        </div>
        <div class="comment">
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>