<h4>My Cameras</h4>

<% if user_signed_in? %>
  <div class="camera-list">
    <% @my_cameras.each do |camera| %>
      <%= link_to camera_path(camera), class: "card-link" do %>
        <%= render 'shared/card', camera: camera, card_style: 'index-card' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= link_to "Add Camera", new_camera_path %>
<%= link_to "All Cameras", root_path %>
