.booking-form {
  display: flex;
  flex-direction: column;

  form {
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    input.btn {
        margin: 16px 0;
        width: fit-content;
      }
  }
}
