.btn {
  font-size: 14px;
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: var(--br2);
  color: var(--w);
  &:not(:last-of-type) {
    margin-right: 8px;
  }
  &.btn-primary {
    background-color: var(--a1);
  }
  &.btn-secondary {
    background-color: var(--a2);

  }
  &.btn-delete {
    background-color: var(--a2);
    color: var(--w);
  }
}
.bookings {
  input {
    margin-right: 8px;
  }
}
