.camera-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin-right: auto;
  // :not(:last-child) {
  //   margin-right: 16px;
  // }

	.card-link {
    display: inline-block;
		text-decoration: none;
    flex: 0 1 calc(25% - 16px);
		&:visited {
			color: black;
		}

  }
}


.card {
  vertical-align: top;
  display: flex;
  flex-direction: column;

  justify-content: start;
  margin-bottom: 16px;
  min-width: 12vw;
  &.home-card {
  }
  &.index-card {
  }
  &.show-card {
    max-width: 240px;
  }
  .img-container {
    box-shadow: 0 0 16px rgba($color: #000000, $alpha: .08);
    border-radius: 16px;
    object-fit: contain;
    padding: 24px;
    img {
      width: 200px;
      height: auto;
      margin: auto;
    }
  }
  .info-container {
    p {
      // display: inline-block;
    }
  }
}
