@mixin phone {
  @media (max-width: 582px) {
    @content;
    .card {
      &.show-card {
        width: 100%;
      }
    }
  }
}

@mixin small {
  @media (max-width: 908px) {
    .card-link {
      flex: 0 1 calc(50% - 8px) !important;
    }
    .card {
      &.show-card {
        min-width: 25%;
      }
    }
  }
}

// @mixin medium {
//   @media (max-width: 1444px) {
//     .card-link {
//       flex: 0 1 calc(33% - 8px) !important;
//     }
//   }
// }

.camera-list {
  // @include medium;
  // @include small;
	display: flex;
	flex-wrap: wrap;
  flex-grow: 1;
  // margin-right: auto;
  justify-content: space-between;
  gap: 16px; // Add a 16px gap between the cards

	.card-link {
    display: inline-block;
		text-decoration: none;
    flex: 0 1 calc(15% - 12px);
    color: #111;
		&:visited {
			color: #111;
		}

  }
}


.card {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 16px;
  min-width: 12vw;
  margin-top: 24px;

  &.home-card {
  }
  &.index-card {
  }
  &.show-card {
    width: 240px;
    @media screen and (max-width: 908px) {
      width: 100%;
    }
  }
  .img-container {
    position: relative;
    box-shadow: 0 0 16px rgba($color: #000000, $alpha: .08);
    object-fit: cover;
    object-position: center;
    padding: 24px;
    height: 200px;
    margin-bottom: 16px;
    img {
      display: block;
      width: 200px;
      height: auto;
      // max-height: 200px;
      margin: auto;
    }
    .badge {
      position: absolute;
      right: 8px;
      bottom: 8px;
      padding: 4px 8px;
      background-color: var(--a2);
      color: #fff;
    }
  }
  .info-container {
    h4.brand {
      color: #b8b8b8;
      // font-weight: 400;
    }
    h4 {
      margin-bottom: 0.4rem;
    }
    p {
      margin-bottom: 0.2rem;
    }
    .year {
      color: #666;
    }
    .condition {
      margin-bottom: 0.6rem;
    }
    span {
      color: #666;
    }
  }
}
