nav {
	display: flex;
  background-color: rgb(255, 255, 255);
  border: solid 1px var(--lg);
	justify-content: space-between;
  padding: 16px 0;
  div.logo {
    margin-left: 24px;
    height: 1%;
      width: 1%;
    img {
      height: 100%;
      width: 100%;
    }
  }
	ul {
    margin: 0;
		display: flex;
    margin-right: 24px;
		:not(:last-child) {
			margin-right: 8px;
		}
		li {
      list-style: none;
      color: #111;

      a {
        text-decoration: none;
        &:visited {
          color: inherit;
        }
      }
		}
	}
}
