nav, footer {
	display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
	justify-content: end;
  padding: 16px 0;
	ul {
    margin: 0;
		display: flex;
    margin-right: 24px;
		:not(:last-child) {
			margin-right: 8px;
		}
		li {
      list-style: none;
      color: #111;

      a {
        text-decoration: none;
        &:visited {
          color: inherit;
        }
      }
		}
	}
}
