.review-form {
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      input.btn {
          margin: 16px 0;
          width: fit-content;
        }
      .rating-stars {
        display: inline-block;
        font-size: 24px;

        label {
          cursor: pointer;

          i {
            color: #888;
            &.selected {
              color: var(--a3);

            }
          }

          input[type="radio"].visually-hidden {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
          }

          // input[type="radio"]:checked ~ i,
          //   input[type="radio"]:checked ~ i ~ i {
          //   color: var(--a2);
          //   }
        }
      }


      textarea {
        width: 100%;
        height: 140px;
        border-radius: var(--br2);
        border: solid 1px var(--lg);
        &:focus {
          outline: solid 1px var(--a1);
        }
      }
    }
  }
