:root {
  --a1: #3E6462;
  --a2: #658580;
  --a3: #f9a81c;
  --d1: #171717;
  --br1: 4px;
  --br2: 8px;
  --lg: #edecec;
  --lg1: #d5d5d5;
  --gr: #666;
  --w: #ffffff;
}

body.dark-mode {
  --a1: #3E6462;
  --a2: #658580;
  --a3: #f9a81c;
  --d1: #ffffff;
  --br1: 4px;
  --br2: 8px;
  --lg: #edecec;
  --lg1: #d5d5d5;
  --gr: #666;
  --w: #171717;
}
